<ActionBar title="Новое задание" class="action-bar">
</ActionBar>

<ScrollView>
    <StackLayout>
        <GridLayout rows="*, *, *, *, *" columns="80, *" class="form">

            <Label row="0" col="0" text="Название" horizontalAlignment="right"  style="font-size: 14px; padding-top: 30;" class="label p-t-5"></Label>
            <TextField row="0" col="1" [(ngModel)]="toEmail" hint="" height="50" style="font-size: 18px;" class="input input-border" keyboardType="email">
            </TextField>

            <Label row="1" col="0" text="Описание" horizontalAlignment="right" style="font-size: 14px; padding-top: 30;"  class="label"></Label>
            <TextField row="1" col="1" [(ngModel)]="ccEmail" hint="" style="font-size: 18px;"  class="input input-border" keyboardType="email">
            </TextField>

            <Label row="2" col="0" text="Дата" horizontalAlignment="right" style="font-size: 14px; padding-top: 30;" class="label"></Label>
            <DatePickerField row="2" col="1" hint=""></DatePickerField>

            <Label row="3" col="0" colSpan="5" text="From" style="font-size: 14px; padding-top: 30;" class="title-label"></Label>
            <Label row="3" col="1" colSpan="5" [text]="fromAirport" (tap)="onOpenSearchAirportTap(true)"
                class="scf-input"></Label>
            <Image row="3" col="2" rowSpan="2" class="icon-next" src="~/images/baseline_navigate_next_black_48.png"
                (tap)="onOpenSearchAirportTap(true)"></Image>

        </GridLayout>
        <Button text="Добавить" (tap)="onEmailSend($event)" class="btn btn-primary"></Button>
    </StackLayout>
</ScrollView>