<ns-navbar title="Задачи" needActionItem="true"></ns-navbar>

<GridLayout rows="*,auto">
   
        <ListView [items]="tasks" (itemTap)="onItemTap($event)">
            <ng-template let-country="item">
                <FlexboxLayout flexDirection="row">
                    <CheckBox text="CheckBox Label" checked="true"></CheckBox>
                    <StackLayout>
                        <Label [text]="country.title" class="t-12 task-text" verticalAlignment="center"
                            style="width: 100%">
                        </Label>
                        <Label [text]='country.start | date: "dd.MM.yyyy hh:mm"' class="date"
                            verticalAlignment="center"> </Label>
                    </StackLayout>
                </FlexboxLayout>
            </ng-template>

        </ListView>
   
    <Button   (tap)="fabTap()" row="1" text="&#xf067;" class="fas fab-button">
    </Button>



</GridLayout>