<!-- <ListView [items]="polls"  separatorColor="transparent">
    <ng-template let-item="item">
        <GridLayout rows="*, auto" columns="auto, *, auto" class="card" >

            <GridLayout row="0" cols="*,*" verticalAlignment="center">
                <Label row="0" col="0"  [text]="item.title" textWrap="true"></Label>
                <Label row="0" col="1"    text="ПРОСМОТР" textWrap="true" (tap)="openLink(item.articleUrl)"></Label>
            </GridLayout>

           

           
        
            

        </GridLayout>
    </ng-template>
</ListView>

 -->


 <ListView [items]="polls" separatorColor="transparent" [itemTemplateSelector]="templateSelector">
	<ng-template nsTemplateKey="post" let-item="item">
		<GridLayout columns="1/4*, 3/4*">
			<StackLayout col="0" class="m-10" height="50" [backgroundColor]="item.color">
			</StackLayout>
			<Label col="1" class="h2" verticalAlignment="center" [text]="item.title" textWrap="true"></Label>
		</GridLayout>
	</ng-template>

	<ng-template nsTemplateKey="banner" let-item="item">
		<Label class="h3 text-center p-10 banner" backgroundColor="lightgreen" [text]="item.bannerText" textWrap="true"></Label>
	</ng-template>
</ListView>