<ActionBar title="Новое задание" class="action-bar">
</ActionBar>

<ScrollView>
    <StackLayout>
        <GridLayout rows="*, *, *, *, *" columns="80, *" class="form">

            <Label row="0" col="0" text="Название" horizontalAlignment="right" class="label"></Label>
            <TextField row="0" col="1" [(ngModel)]="toEmail" hint="" class="input input-border" keyboardType="email">
            </TextField>

            <Label row="1" col="0" text="Описание" horizontalAlignment="right" class="label"></Label>
            <TextField row="1" col="1" [(ngModel)]="ccEmail" hint="" class="input input-border" keyboardType="email">
            </TextField>

            <Label row="2" col="0" text="Дата" horizontalAlignment="right" class="label"></Label>
            <DatePickerField row="2" col="1" hint=""></DatePickerField>

            <Label row="3" col="0" colSpan="5" text="From" class="title-label"></Label>
            <Label row="3" col="1" colSpan="5" [text]="fromAirport" (tap)="onOpenSearchAirportTap(true)"
                class="scf-input"></Label>
            <Image row="3" col="2" rowSpan="2" class="icon-next" src="~/images/baseline_navigate_next_black_48.png"
                (tap)="onOpenSearchAirportTap(true)"></Image>

        </GridLayout>
        <Button text="Добавить" (tap)="onEmailSend($event)" class="btn btn-primary"></Button>
    </StackLayout>
</ScrollView>