<ActionBar title="Графики"></ActionBar>


<GridLayout rows="auto, *" style="height: 80%;">
	<RadCartesianChart row="0" id="cartesianChart" style="height: 100%">
		<CategoricalAxis tkCartesianHorizontalAxis labelSize="40" labelMargin="10"></CategoricalAxis>
		<LinearAxis tkCartesianVerticalAxis></LinearAxis>
        <!-- <BarSeries tkCartesianSeries  
                    paleteMode="Item" 
                    [items]="favoriteFruits" 
                    categoryProperty="type" 
                    valueProperty="count" 
                    strokeColorProperty="color" 
                    seriesName="Bar"></BarSeries> -->
		<!-- <Palette tkCartesianPalette seriesName="Bar">
			<PaletteEntry tkCartesianPaletteEntry fillColor="#db5560" strokeColor="#bb1616"></PaletteEntry>
        </Palette> -->
        <BarSeries tkCartesianSeries  
                    paleteMode="Item" 
                    [items]="polls" 
                    categoryProperty='date' 
                    valueProperty="value" 
                    strokeColorProperty="color" 
                    seriesName="Bar">
        </BarSeries>
        <Palette tkCartesianPalette seriesName="Bar">
			<PaletteEntry tkCartesianPaletteEntry ></PaletteEntry>
        </Palette>
	</RadCartesianChart>
</GridLayout>