<ActionBar title="Новый пользователь" class="action-bar">
</ActionBar>

<ScrollView>
    <StackLayout>
        <GridLayout rows="*, *, *, *, *" columns="80, *" class="form">

            <Label row="0" col="0" text="ФИО" horizontalAlignment="left" class="label"></Label>
            <TextField row="0" col="1" [(ngModel)]="fio" hint="" class="input input-border" [backgroundColor="greyed">
            </TextField>

            <Label row="1" col="0" text="Возраст" horizontalAlignment="left" class="label"></Label>
            <TextField row="1" col="1" [(ngModel)]="age" hint="" class="input input-border" keyboardType="number">
            </TextField>

            <Label row="2" col="0" text="Пол" horizontalAlignment="left" class="label"></Label>

            <Label row="2" col="1" colSpan="1" hint="" class="scf-input" editable="false" [text]="typeOfService"
                (tap)="onTypeServiceTap()" ></Label>


        </GridLayout>
        <Button text="Далее" (tap)="getProblems($event)" class="btn btn-primary"></Button>
    </StackLayout>
</ScrollView>