<RadSideDrawer drawerTransition="PushTransition">

	<GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
		<StackLayout class="sidedrawer-header">

		</StackLayout>

		<ScrollView row="1">
			<StackLayout class="sidedrawer-content">

				<StackLayout class="hr-light"></StackLayout>

				<GridLayout row="0" columns="auto, *" class="sidedrawer-list-item" >
					<Label row="0" col="0" text="&#xf073;" class="fas"></Label>
					<Label row="0" col="1" text="Календарь" class="m-l-20 sidedrawer-item"
						(tap)="chooseCity($event)"></Label>
				</GridLayout>

				<GridLayout  row="1" columns="auto, *" class="sidedrawer-list-item">
					<Label row="0" col="0" text="&#xf478;" class="fas"></Label>
					<Label row="0" col="1" text="Советы" class="m-l-20 sidedrawer-item"
						(tap)="openArticles($event)"></Label>
				</GridLayout>

				<GridLayout  row="2" columns="auto, *" class="sidedrawer-list-item" >
					<Label row="0" col="0" text="&#xf005;" class="fas"></Label>
					<Label row="0" col="1" text="Избранное" class="m-l-20 sidedrawer-item"
					(tap)="favourite($event)"
					></Label>
				</GridLayout>

				<GridLayout  row="2" columns="auto, *" class="sidedrawer-list-item" >
					<Label row="0" col="0" text="&#xf51a;" class="fas"></Label>
					<Label row="0" col="1" text="Очистить" class="m-l-20 sidedrawer-item"
						(tap)="clearUser($event)"></Label>
                </GridLayout>
                
                <GridLayout  row="3" columns="auto, *" class="sidedrawer-list-item">
					<Label row="0" col="0" text="&#xf0ae;" class="fas"></Label>
					<Label row="0" col="1" text="Задачи" class="m-l-20 sidedrawer-item" (tap)="chooseTasks($event)"></Label>
				</GridLayout>
                
			</StackLayout>
		</ScrollView>
	</GridLayout>

	<page-router-outlet tkMainContent></page-router-outlet>


</RadSideDrawer>