<ns-navbar [title]="pageTitle" needActionItem="true"></ns-navbar>
<GridLayout rows="auto,*">

    <GridLayout row="0" style="margin: 12;">
        <Label class="h2" [text]="questionTitle" textWrap="true"></Label>
    </GridLayout>

    <ListView row="1" [items]="questions" separatorColor="transparent" [itemTemplateSelector]="templateSelector">
        <ng-template nsTemplateKey="post" let-item="item">
            <GridLayout>

                <GridLayout col="0" row="0">
                    <!--  <Ripple rippleColor="#d50000"></Ripple> -->
                    <Button col="1" class="h2" [text]="item.title" textWrap="true" (tap)="postResult(item.id, item.pollQuestionId)" [backgroundColor]="item.color"> 
                    </Button>

                    <!--   </Ripple> -->
                </GridLayout>







            </GridLayout>



        </ng-template>

    </ListView>

</GridLayout>